* {
  font-family: "Proxima Nova";
}
.app {
  max-width: 960px;
  margin: 0 auto;
}
footer {
  text-align: right;
}
.cajas {
  box-sizing: border-box;
  width: 32%;
  display: inline-block;
  vertical-align: top;
}
.search-form {
  margin-top: 30px;
}
@media only screen and (max-width: 650px) {
  .search-form {
    display: none;
  }
}
.link-search {
  margin-top: 32px;
}
